# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\algorithm\luogu\P1195\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
